<!DOCTYPE html>
<html>
<%- include('../partials/header', {title: 'Home Page'}); %>

<body>
  <% include ../partials/navbar %>

  <div class="container">


   
   <h2>Brid created successfully</h2>
   

  </div>
  
  <% include ../partials/scripts %>
</body>

</html>